/* Global Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* Dashboard Container */
.dashboard {
  display: flex;
  height: 100vh; /* Assure que le conteneur principal occupe toute la hauteur de l'écran */
  background: linear-gradient(135deg, #74ebd5 0%, #acb6e5 100%);
}



/* Main Content Styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9fafc;
  margin-left: 250px; 
  overflow-y: auto;
}

